Repository mAbduqayum/python-workbook: changes, and which lefthook commands are due for each by the changed paths.
All: uv-sort, lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    uv-sort:
      glob: "pyproject.toml"
      run: uvx uv-sort
      stage_fixed: true
    lint:
      glob: "*.py"
      run: ruff check --fix {staged_files}
      stage_fixed: true
    format:
      glob: "*.py"
      run: ruff format {staged_files}
      stage_fixed: true
  exclude_tags:
    - merge
    - rebase

pre-push:
  piped: true # stop if one fails
  commands:
    lint:
      glob: "src/*.py"
      run: ruff check {push_files}
    #test:
    #  run: uv run pytest tests/
    #security-check:
    #  run: ruff check . --select S
    #  skip:
    #    - merge
    #    - rebase
    #git-leaks:
    #  run: gitleaks git

commit-msg:
  commands:
    conventional-commits:
      run: |
        CONVENTIONAL_COMMIT_PATTERN="^(new|fix|docs|style|ref|perf|test|chore|build|ci|revert)(\(.+\))?:"
        commit_message=$(cat {1})
        if ! echo "$commit_message" | grep -qE "$CONVENTIONAL_COMMIT_PATTERN"; then
          echo "Commit message must follow conventional commits format:"
          echo "type(scope): description"
          echo "Types: new, fix, docs, style, ref, perf, test, chore, build, ci, revert"
          exit 1
        fi

chore:
  .claude/skills/qduoj-problems/SKILL.md
Due: none

docs: add short-circuit evaluation section to boolean operators
  conditionals/_docs/boolean_operators.md
Due: none

fix: incorrect sep parameter example in repetitions.md
  repetitions/_docs/repetitions.md
Due: none

docs: add mermaid mindmap to repetitions table of contents
  repetitions/_docs/table_of_contents.md
Due: none

ref:
  repetitions/_docs/repetitions.md
Due: none

ref:
  intro/_docs/table_of_contents.md
  intro/bank_annual/bank_annual.md
  intro/bank_monthly/bank_monthly.md
  intro/circle_area/circle_area.md
  intro/eid_adha/eid_adha.md
  intro/eid_adha/eid_adha.py
  intro/eid_fitr/eid_fitr.md
  intro/eid_fitr/eid_fitr.py
  intro/ideal_gas/ideal_gas.md
  intro/sphere_volume/sphere_volume.md
  intro/time_seconds/time_seconds.md
Due: lint, format

ref:
  intro/_docs/table_of_contents.md
  intro/bank_annual/bank_annual.md
  intro/bank_monthly/bank_monthly.md
  intro/circle_area/circle_area.md
  intro/eid_adha/eid_adha.md
  intro/eid_fitr/eid_fitr.md
  intro/ideal_gas/ideal_gas.md
  intro/sphere_volume/sphere_volume.md
  intro/time_seconds/time_seconds.md
Due: none

ci:
  .github/workflows/grading.yml
  .github/workflows/sync-main.yml
  .github/workflows/sync-solutions.yml
Due: none

ref:
  README.md
  intro/_docs/first_project.md
Due: none

chore:
  .github/workflows/grading.yml
  conftest.py
  pyproject.toml
Due: uv-sort, lint, format

ci:
  .github/workflows/grading.yml
  .github/workflows/sync-main.yml
Due: none

docs: clarify intro exercise conventions and fix beginner friction points
  intro/_docs/first_project.md
  intro/_docs/vars_and_types.md
  intro/advanced_calculator/advanced_calculator.md
  intro/basic_calculator/basic_calculator.md
  intro/circle_area/circle_area.md
  intro/circle_area/circle_area.py
  intro/distance_earth/distance_earth.md
  intro/sphere_volume/sphere_volume.md
  intro/sphere_volume/sphere_volume.py
  intro/time_seconds/test_time_seconds.py
  intro/time_seconds/time_seconds.md
  intro/time_seconds/time_seconds.py
Due: lint, format

docs: simplify intro exercises by dropping input prompts and how-to notes
  intro/advanced_calculator/advanced_calculator.md
  intro/average/average.md
  intro/bank_annual/bank_annual.md
  intro/bank_monthly/bank_monthly.md
  intro/bmi/bmi.md
  intro/celsius_convert/celsius_convert.md
  intro/circle_area/circle_area.md
  intro/distance_conversion/distance_conversion.md
  intro/distance_earth/distance_earth.md
  intro/free_fall/free_fall.md
  intro/heat_capacity/heat_capacity.md
  intro/ideal_gas/ideal_gas.md
  intro/pressure_units/pressure_units.md
  intro/regular_polygon/regular_polygon.md
  intro/shopping/shopping.md
  intro/sort_integers/sort_integers.md
  intro/sphere_volume/sphere_volume.md
  intro/sum_digits/sum_digits.md
  intro/temperature/temperature.md
  intro/time_reverse/time_reverse.md
  intro/tip_calculator/tip_calculator.md
  intro/triangle_area/triangle_area.md
  intro/triangle_heron/triangle_heron.md
Due: none

ci:
  .github/workflows/sync-main.yml
  ignore/README.md
  ignore/simplification-guide.md
Due: none

ci:
  .github/workflows/sync-main.yml
Due: none

ref: conditionals
  conditionals/angle_quadrants/angle_quadrants.md
  conditionals/angle_type/angle_type.md
  conditionals/between_values/between_values.md
  conditionals/bmi_categories/bmi_categories.md
  conditionals/can_vote/can_vote.md
  conditionals/chemical_phase_transition/chemical_phase_transition.md
  conditionals/chess_square_color/chess_square_color.md
  conditionals/even_odd/even_odd.md
  conditionals/faces_money/faces_money.md
  conditionals/fizz_buzz/fizz_buzz.md
  conditionals/frequency_name/frequency_name.md
  conditionals/frequency_note/frequency_note.md
  conditionals/h2o_phases/h2o_phases.md
  conditionals/http_errors/http_errors.md
  conditionals/january_weekday/january_weekday.md
  conditionals/leap_year/leap_year.md
  conditionals/letter_grade_points/letter_grade_points.md
  conditionals/life_phases/life_phases.md
  conditionals/month_days/month_days.md
  conditionals/month_from_int/month_from_int.md
  conditionals/name_shape/name_shape.md
  conditionals/next_day/next_day.md
  conditionals/note_frequency/note_frequency.md
  conditionals/number_sign/number_sign.md
  conditionals/palindrome_3digit/palindrome_3digit.md
  conditionals/palindrome_4digit/palindrome_4digit.md
  conditionals/quadratic_roots/quadratic_roots.md
  conditionals/richter_scale/richter_scale.md
  conditionals/season_date/season_date.md
  conditionals/sorted_order/sorted_order.md
  conditionals/sound_levels/sound_levels.md
  conditionals/student_year_level/student_year_level.md
  conditionals/tajikistan_holidays/tajikistan_holidays.md
  conditionals/triangle_angle_type/triangle_angle_type.md
  conditionals/triangle_classify/triangle_classify.md
  conditionals/two_equal/two_equal.md
  conditionals/valid_triangle/valid_triangle.md
  conditionals/visible_light/visible_light.md
  conditionals/vowel_consonant/vowel_consonant.md
  ignore/simplification-guide.md
Due: none

ref: intro
  intro/advanced_calculator/advanced_calculator.md
  intro/average/average.md
  intro/bank_annual/bank_annual.md
  intro/bank_monthly/bank_monthly.md
  intro/basic_calculator/basic_calculator.md
  intro/bmi/bmi.md
  intro/celsius_convert/celsius_convert.md
  intro/circle_area/circle_area.md
  intro/distance_conversion/distance_conversion.md
  intro/distance_earth/distance_earth.md
  intro/free_fall/free_fall.md
  intro/heat_capacity/heat_capacity.md
  intro/hello_world/hello_world.md
  intro/ideal_gas/ideal_gas.md
  intro/mailing_address/mailing_address.md
  intro/pressure_units/pressure_units.md
  intro/rectangle_area/rectangle_area.md
  intro/rectangle_perimeter/rectangle_perimeter.md
  intro/regular_polygon/regular_polygon.md
  intro/shopping/shopping.md
  intro/sort_integers/sort_integers.md
  intro/sphere_volume/sphere_volume.md
  intro/square_area/square_area.md
  intro/sum_digits/sum_digits.md
  intro/sum_integers/sum_integers.md
  intro/temperature/temperature.md
  intro/time_hours/time_hours.md
  intro/time_reverse/time_reverse.md
  intro/time_seconds/time_seconds.md
  intro/time_units/time_units.md
  intro/tip_calculator/tip_calculator.md
  intro/triangle_area/triangle_area.md
  intro/triangle_heron/triangle_heron.md
Due: none

ref: repetitions
  repetitions/admission_price/admission_price.md
  repetitions/approximate_pi/approximate_pi.md
  repetitions/arithmetic_sequence/arithmetic_sequence.md
  repetitions/average/average.md
  repetitions/average/average.py
  repetitions/binary_to_decimal/binary_to_decimal.md
  repetitions/binary_to_decimal/binary_to_decimal.py
  repetitions/caesar_cipher/caesar_cipher.md
  repetitions/coin_flip/coin_flip.md
  repetitions/collatz/collatz.md
  repetitions/collatz/collatz.py
  repetitions/decimal_to_binary/decimal_to_binary.md
  repetitions/decimal_to_binary/decimal_to_binary.py
  repetitions/digit_sum/digit_sum.md
  repetitions/digit_sum/digit_sum.py
  repetitions/digit_sum/test_digit_sum.py
  repetitions/gcd/gcd.md
  repetitions/gcd/gcd.py
  repetitions/geometric_sequence/geometric_sequence.md
  repetitions/guess_number/guess_number.md
  repetitions/max_streak/max_streak.md
  repetitions/maximum_integer/maximum_integer.md
  repetitions/multiword_palindrome/multiword_palindrome.md
  repetitions/no_pennies/no_pennies.md
  repetitions/number_of_digits/number_of_digits.md
  repetitions/number_pyramid/number_pyramid.md
  repetitions/number_triangle/number_triangle.md
  repetitions/palindrome/palindrome.md
  repetitions/parity_bits/parity_bits.md
  repetitions/password_strength/password_strength.md
  repetitions/polygon_perimeter/polygon_perimeter.md
  repetitions/prime_factors/prime_factors.md
  repetitions/pyramid/pyramid.md
  repetitions/right_triangle/right_triangle.md
  repetitions/square_root/square_root.md
  repetitions/temperature_table/temperature_table.md
  repetitions/vanilla_min_max/vanilla_min_max.md
Due: lint, format

ref:
  ignore/simplification-guide.md
Due: none

ref:
  intro/heat_capacity/heat_capacity.md
  intro/heat_capacity/heat_capacity.py
  intro/heat_capacity/test_heat_capacity.py
Due: lint, format

ref: functions
  functions/_docs/function.md
  functions/_docs/table_of_contents.md
  functions/binary_to_decimal/binary_to_decimal.md
  functions/bmi/bmi.md
  functions/caesar_cipher/caesar_cipher.md
  functions/circle_area/circle_area.md
  functions/decimal_hex/decimal_hex.md
  functions/decimal_to_binary/decimal_to_binary.md
  functions/digit_sum/digit_sum.md
  functions/distance_earth/distance_earth.md
  functions/fahrenheit_to_celsius/fahrenheit_to_celsius.md
  functions/get_hypotenuse/get_hypotenuse.md
  functions/gregorian_to_ordinal/gregorian_to_ordinal.md
  functions/hex_decimal/hex_decimal.md
  functions/is_even/is_even.md
  functions/is_int/is_int.md
  functions/is_leap_year/is_leap_year.md
  functions/is_palindrome/is_palindrome.md
  functions/is_prime/is_prime.md
  functions/is_triangle/is_triangle.md
  functions/is_triangle/is_triangle.py
  functions/is_triangle/test_is_triangle.py
  functions/is_valid_triangle/is_valid_triangle.md
  functions/is_valid_triangle/is_valid_triangle.py
  functions/normalize_fraction/normalize_fraction.md
  functions/number_of_digits/number_of_digits.md
  functions/ordinal_to_gregorian/ordinal_to_gregorian.md
  functions/password/password.md
  functions/password_strength/password_strength.md
  functions/quadratic_roots/quadratic_roots.md
  functions/quadratic_roots/quadratic_roots.py
  functions/quadratic_roots/test_quadratic_roots.py
  functions/rectangle_area/rectangle_area.md
  functions/to_base/to_base.md
  functions/triangle_area/triangle_area.md
Due: lint, format

ref:
  functions/binary_to_decimal/binary_to_decimal.py
  functions/bmi/bmi.py
  functions/caesar_cipher/caesar_cipher.py
  functions/circle_area/circle_area.py
  functions/decimal_hex/decimal_hex.py
  functions/decimal_to_binary/decimal_to_binary.py
  functions/digit_sum/digit_sum.py
  functions/distance_earth/distance_earth.py
  functions/fahrenheit_to_celsius/fahrenheit_to_celsius.py
  functions/get_hypotenuse/get_hypotenuse.py
  functions/gregorian_to_ordinal/gregorian_to_ordinal.py
  functions/hex_decimal/hex_decimal.py
  functions/is_even/is_even.py
  functions/is_int/is_int.py
  functions/is_leap_year/is_leap_year.py
  functions/is_palindrome/is_palindrome.py
  functions/is_prime/is_prime.py
  functions/is_triangle/is_triangle.py
  functions/normalize_fraction/normalize_fraction.py
  functions/number_of_digits/number_of_digits.py
  functions/ordinal_to_gregorian/ordinal_to_gregorian.py
  functions/password/password.py
  functions/password_strength/password_strength.py
  functions/quadratic_roots/quadratic_roots.py
  functions/rectangle_area/rectangle_area.py
  functions/to_base/to_base.py
  functions/triangle_area/triangle_area.py
Due: lint, format

ref: lists
  lists/_docs/table_of_contents.md
  lists/binary_search/binary_search.md
  lists/copy_list/copy_list.md
  lists/deal_hands/deal_hands.md
  lists/deck_operations/deck_operations.md
  lists/divisors/divisors.md
  lists/evaluate_postfix/evaluate_postfix.md
  lists/filter_function/filter_function.md
  lists/get_words/get_words.md
  lists/is_perfect/is_perfect.md
  lists/is_sublist/is_sublist.md
  lists/list_to_string/list_to_string.md
  lists/list_total/list_total.md
  lists/mark_unary/mark_unary.md
  lists/merge_and_sort/merge_and_sort.py
  lists/merge_sort/merge_sort.md
  lists/merge_sort/merge_sort.py
  lists/merge_sort/test_merge_sort.py
  lists/precedence/precedence.md
  lists/remove_outliers/remove_outliers.md
  lists/remove_outliers/remove_outliers.py
  lists/reverse_list/reverse_list.md
  lists/sieve_of_eratosthenes/sieve_of_eratosthenes.md
  lists/sort_numbers/sort_numbers.md
  lists/str_to_ints/str_to_ints.md
  lists/to3x3matrix/to3x3matrix.md
  lists/to_matrix/to_matrix.md
  lists/tokenize_expression/tokenize_expression.md
Due: lint, format

chore:
  appendix/vcs/vcs.md
  appendix/vcs/vcs_git_github.md
  slides/CLAUDE.md
  slides/_touying_examples/complex.typ
  slides/_touying_examples/dewdrop.typ
  slides/_touying_examples/main.typ
  slides/conditionals/.gitkeep
  slides/intro/.gitkeep
  slides/intro/intro.typ
  slides/repetitions/.gitkeep
  slides/repetitions/repetitions.typ
Due: none

chore:
  .zed/settings.json
  .zed/tasks.json
  pyproject.toml
Due: uv-sort

ref: repetitions
  repetitions/_docs/table_of_contents.md
  repetitions/countdown/countdown.md
  repetitions/countdown/countdown.py
  repetitions/countdown/test_countdown.py
  repetitions/even_numbers/even_numbers.md
  repetitions/even_numbers/even_numbers.py
  repetitions/even_numbers/test_even_numbers.py
  repetitions/factorial/factorial.md
  repetitions/factorial/factorial.py
  repetitions/factorial/test_factorial.py
  repetitions/first_n_numbers/first_n_numbers.md
  repetitions/first_n_numbers/first_n_numbers.py
  repetitions/first_n_numbers/test_first_n_numbers.py
  repetitions/odd_numbers/odd_numbers.md
  repetitions/odd_numbers/odd_numbers.py
  repetitions/odd_numbers/test_odd_numbers.py
  repetitions/pyramid/pyramid.md
  repetitions/pyramid/pyramid.py
  repetitions/pyramid/test_pyramid.py
  repetitions/right_triangle/right_triangle.md
  repetitions/right_triangle/test_right_triangle.py
  repetitions/sum_table/sum_table.md
  repetitions/sum_table/sum_table.py
  repetitions/sum_table/test_sum_table.py
  repetitions/sum_to_n/sum_to_n.md
  repetitions/sum_to_n/sum_to_n.py
  repetitions/sum_to_n/test_sum_to_n.py
  repetitions/temperature_table/temperature_table.md
  repetitions/temperature_table/temperature_table.py
  repetitions/temperature_table/test_temperature_table.py
Due: lint, format

ref: rep docs
  repetitions/_docs/for_loop.md
  repetitions/_docs/loop_best_practices.md
  repetitions/_docs/loop_control.md
  repetitions/_docs/loop_patterns.md
  repetitions/_docs/nested_loops.md
  repetitions/_docs/repetitions.md
  repetitions/_docs/table_of_contents.md
  repetitions/_docs/while_loop.md
Due: none

ref: docs chapter
  intro/_docs/first_project.md
  intro/_docs/string_formatting.md
  intro/_docs/string_formatting_advanced.md
  intro/_docs/vars_and_types.md
Due: none

ref: conditionals docs
  conditionals/_docs/boolean_operators.md
  conditionals/_docs/if_elif_else.md
  conditionals/_docs/match.md
Due: none

ref: functions docs
  functions/_docs/function.md
  functions/_docs/function_basics.md
  functions/_docs/function_best_practices.md
  functions/_docs/function_patterns.md
  functions/_docs/function_scope.md
  functions/_docs/import.md
  functions/_docs/modules.md
  functions/_docs/table_of_contents.md
  functions/_docs/type_hints_docstrings.md
Due: none

ref: function questions
  functions/binary_to_decimal/binary_to_decimal.md
  functions/bmi/bmi.md
  functions/caesar_cipher/caesar_cipher.md
  functions/circle_area/circle_area.md
  functions/decimal_hex/decimal_hex.md
  functions/decimal_to_binary/decimal_to_binary.md
  functions/digit_sum/digit_sum.md
  functions/distance_earth/distance_earth.md
  functions/fahrenheit_to_celsius/fahrenheit_to_celsius.md
  functions/get_hypotenuse/get_hypotenuse.md
  functions/gregorian_to_ordinal/gregorian_to_ordinal.md
  functions/hex_decimal/hex_decimal.md
  functions/is_even/is_even.md
  functions/is_int/is_int.md
  functions/is_leap_year/is_leap_year.md
  functions/is_palindrome/is_palindrome.md
  functions/is_prime/is_prime.md
  functions/is_triangle/is_triangle.md
  functions/normalize_fraction/normalize_fraction.md
  functions/number_of_digits/number_of_digits.md
  functions/ordinal_to_gregorian/ordinal_to_gregorian.md
  functions/password/password.md
  functions/password_strength/password_strength.md
  functions/quadratic_roots/quadratic_roots.md
  functions/rectangle_area/rectangle_area.md
  functions/to_base/to_base.md
  functions/triangle_area/triangle_area.md
Due: none

docs: explain exercise workflow and tests
  README.md
Due: none

docs: add install links for prerequisites
  README.md
Due: none

docs: explain example input/output convention
  README.md
Due: none
