Repository mAbduqayum/python-workbook: changes, and which lefthook commands are due for each by the changed paths.
All: uv-sort, lint, format

uv-sort:
  run: uvx uv-sort
  stage_fixed: true

lint:
  run: ruff check --fix {staged_files}
  stage_fixed: true

format:
  run: ruff format {staged_files}
  stage_fixed: true

fix: pytest
  conftest.py
Due: lint, format

ref:
  200_repetitions/201_average/average.md
  200_repetitions/203_temperature_table/temperature_table.md
  200_repetitions/204_no_pennies/no_pennies.md
  200_repetitions/205_polygon_perimeter/polygon_perimeter.md
  200_repetitions/206_gpa/gpa.md
  200_repetitions/209_approximate_pi/approximate_pi.md
  200_repetitions/210_fizz_buzz/fizz_buzz.md
  200_repetitions/211_caesar_cipher/caesar_cipher.md
  200_repetitions/212_square_root/square_root.md
  200_repetitions/213_palindrome/palindrome.md
  200_repetitions/214_multiword_palindrome/multiword_palindrome.md
  200_repetitions/215_multiplication_table/multiplication_table.md
  200_repetitions/216_collatz/collatz.md
  200_repetitions/217_gcd/gcd.md
  200_repetitions/218_prime_factors/prime_factors.md
  200_repetitions/219_binary_to_decimal/binary_to_decimal.md
  200_repetitions/220_decimal_to_binary/decimal_to_binary.md
  200_repetitions/221_maximum_integer/maximum_integer.md
  200_repetitions/222_coin_flip/coin_flip.md
Due: none

ref: remove hints
  200_repetitions/202_discount_table/discount_table.md
  200_repetitions/205_polygon_perimeter/polygon_perimeter.md
  200_repetitions/206_gpa/gpa.md
  200_repetitions/207_admission_price/admission_price.md
  200_repetitions/208_parity_bits/parity_bits.md
  200_repetitions/209_approximate_pi/approximate_pi.md
  200_repetitions/211_caesar_cipher/caesar_cipher.md
  200_repetitions/212_square_root/square_root.md
  200_repetitions/213_palindrome/palindrome.md
  200_repetitions/214_multiword_palindrome/multiword_palindrome.md
  200_repetitions/215_multiplication_table/multiplication_table.md
  200_repetitions/216_collatz/collatz.md
  200_repetitions/219_binary_to_decimal/binary_to_decimal.md
  200_repetitions/220_decimal_to_binary/decimal_to_binary.md
  200_repetitions/221_maximum_integer/maximum_integer.md
  200_repetitions/222_coin_flip/coin_flip.md
Due: none

new: repetition questions
  200_repetitions/223_right_triangle/right_triangle.md
  200_repetitions/223_right_triangle/test_right_triangle.py
  200_repetitions/224_pyramid/pyramid.md
  200_repetitions/224_pyramid/test_pyramid.py
  200_repetitions/225_arithmetic_sequence/arithmetic_sequence.md
  200_repetitions/225_arithmetic_sequence/test_arithmetic_sequence.py
  200_repetitions/226_geometric_sequence/geometric_sequence.md
  200_repetitions/226_geometric_sequence/test_geometric_sequence.py
  200_repetitions/227_vanilla_min_max/test_vanilla_min_max.py
  200_repetitions/227_vanilla_min_max/vanilla_min_max.md
  200_repetitions/228_number_of_digits/number_of_digits.md
  200_repetitions/228_number_of_digits/test_number_of_digits.py
  200_repetitions/229_digit_sum/digit_sum.md
  200_repetitions/229_digit_sum/test_digit_sum.py
  200_repetitions/230_max_streak/max_streak.md
  200_repetitions/230_max_streak/test_max_streak.py
  200_repetitions/231_password_strength/password_strength.md
  200_repetitions/231_password_strength/test_password_strength.py
  200_repetitions/232_guess_number/guess_number.md
  200_repetitions/232_guess_number/test_guess_number.py
  200_repetitions/233_sieve_eratosthenes/sieve_eratosthenes.md
  200_repetitions/233_sieve_eratosthenes/test_sieve_eratosthenes.py
  200_repetitions/234_sum_table/sum_table.md
  200_repetitions/234_sum_table/test_sum_table.py
  200_repetitions/235_number_pyramid/number_pyramid.md
  200_repetitions/235_number_pyramid/test_number_pyramid.py
  200_repetitions/236_number_triangle/number_triangle.md
  200_repetitions/236_number_triangle/test_number_triangle.py
Due: lint, format

ref: tests
  200_repetitions/223_right_triangle/test_right_triangle.py
  200_repetitions/224_pyramid/test_pyramid.py
  200_repetitions/225_arithmetic_sequence/test_arithmetic_sequence.py
  200_repetitions/226_geometric_sequence/test_geometric_sequence.py
  200_repetitions/227_vanilla_min_max/test_vanilla_min_max.py
  200_repetitions/228_number_of_digits/test_number_of_digits.py
  200_repetitions/229_digit_sum/test_digit_sum.py
  200_repetitions/230_max_streak/test_max_streak.py
  200_repetitions/231_password_strength/test_password_strength.py
  200_repetitions/232_guess_number/test_guess_number.py
  200_repetitions/233_sieve_eratosthenes/sieve_eratosthenes.md
  200_repetitions/233_sieve_eratosthenes/test_sieve_eratosthenes.py
  200_repetitions/234_sum_table/test_sum_table.py
  200_repetitions/235_number_pyramid/test_number_pyramid.py
  200_repetitions/236_number_triangle/test_number_triangle.py
Due: lint, format

ref:
  200_repetitions/201_discount_table/discount_table.md
  200_repetitions/201_discount_table/test_discount_table.py
Due: lint, format

style:
  200_repetitions/202_temperature_table/test_temperature_table.py
  200_repetitions/203_right_triangle/test_right_triangle.py
  200_repetitions/204_multiplication_table/test_multiplication_table.py
  200_repetitions/205_fizz_buzz/test_fizz_buzz.py
  200_repetitions/206_sum_table/test_sum_table.py
  200_repetitions/207_number_triangle/test_number_triangle.py
  200_repetitions/208_number_pyramid/test_number_pyramid.py
  200_repetitions/209_pyramid/test_pyramid.py
  200_repetitions/210_arithmetic_sequence/test_arithmetic_sequence.py
  200_repetitions/211_geometric_sequence/test_geometric_sequence.py
  200_repetitions/212_admission_price/test_admission_price.py
  200_repetitions/213_no_pennies/test_no_pennies.py
  200_repetitions/214_polygon_perimeter/test_polygon_perimeter.py
  200_repetitions/216_vanilla_min_max/test_vanilla_min_max.py
  200_repetitions/217_number_of_digits/test_number_of_digits.py
  200_repetitions/218_digit_sum/test_digit_sum.py
  200_repetitions/219_palindrome/test_palindrome.py
  200_repetitions/220_collatz/test_collatz.py
  200_repetitions/221_gcd/test_gcd.py
  200_repetitions/222_parity_bits/test_parity_bits.py
  200_repetitions/223_coin_flip/test_coin_flip.py
  200_repetitions/225_maximum_integer/test_maximum_integer.py
  200_repetitions/226_gpa/test_gpa.py
  200_repetitions/227_password_strength/test_password_strength.py
  200_repetitions/228_binary_to_decimal/test_binary_to_decimal.py
  200_repetitions/229_decimal_to_binary/test_decimal_to_binary.py
  200_repetitions/230_multiword_palindrome/test_multiword_palindrome.py
  200_repetitions/231_caesar_cipher/test_caesar_cipher.py
  200_repetitions/232_square_root/test_square_root.py
  200_repetitions/233_approximate_pi/test_approximate_pi.py
  200_repetitions/234_prime_factors/test_prime_factors.py
  200_repetitions/235_max_streak/test_max_streak.py
Due: lint, format

fix:
  200_repetitions/203_right_triangle/test_right_triangle.py
  200_repetitions/204_multiplication_table/multiplication_table.md
  200_repetitions/206_sum_table/test_sum_table.py
  200_repetitions/207_number_triangle/test_number_triangle.py
  200_repetitions/208_number_pyramid/test_number_pyramid.py
  200_repetitions/209_pyramid/test_pyramid.py
Due: lint, format

fix:
  200_repetitions/210_arithmetic_sequence/arithmetic_sequence.md
  200_repetitions/210_arithmetic_sequence/test_arithmetic_sequence.py
  200_repetitions/211_geometric_sequence/geometric_sequence.md
  200_repetitions/211_geometric_sequence/test_geometric_sequence.py
Due: lint, format

fix:
  200_repetitions/211_geometric_sequence/geometric_sequence.md
  200_repetitions/211_geometric_sequence/test_geometric_sequence.py
Due: lint, format

fix:
  200_repetitions/211_geometric_sequence/geometric_sequence.md
  200_repetitions/227_password_strength/password_strength.md
  200_repetitions/227_password_strength/test_password_strength.py
Due: lint, format

fix:
  200_repetitions/235_max_streak/max_streak.md
  200_repetitions/235_max_streak/test_max_streak.py
Due: lint, format

fix:
  200_repetitions/204_arithmetic_sequence/arithmetic_sequence.md
  200_repetitions/204_arithmetic_sequence/test_arithmetic_sequence.py
  200_repetitions/212_geometric_sequence/geometric_sequence.md
  200_repetitions/212_geometric_sequence/test_geometric_sequence.py
Due: lint, format

fix:
  200_repetitions/212_geometric_sequence/geometric_sequence.md
  200_repetitions/212_geometric_sequence/test_geometric_sequence.py
Due: lint, format

ref:
  CLAUDE.md
Due: none

ref:
  200_repetitions/216_number_pyramid/number_pyramid.md
  200_repetitions/216_number_pyramid/test_number_pyramid.py
  200_repetitions/223_gpa/gpa.md
  200_repetitions/223_gpa/test_gpa.py
  pyproject.toml
Due: uv-sort, lint, format

ref:
  200_repetitions/202_right_triangle/right_triangle.md
  200_repetitions/202_right_triangle/test_right_triangle.py
  200_repetitions/205_average/average.md
  200_repetitions/205_average/test_average.py
  200_repetitions/206_number_triangle/number_triangle.md
  200_repetitions/206_number_triangle/test_number_triangle.py
  200_repetitions/207_sum_table/sum_table.md
  200_repetitions/207_sum_table/test_sum_table.py
  200_repetitions/215_vanilla_min_max/test_vanilla_min_max.py
  200_repetitions/215_vanilla_min_max/vanilla_min_max.md
Due: lint, format

ref:
  200_repetitions/209_pyramid/pyramid.md
  200_repetitions/209_pyramid/test_pyramid.py
Due: lint, format

ref:
  200_repetitions/204_pyramid/pyramid.md
  200_repetitions/204_pyramid/test_pyramid.py
  200_repetitions/205_fizz_buzz/fizz_buzz.md
  200_repetitions/205_fizz_buzz/test_fizz_buzz.py
  200_repetitions/206_number_triangle/number_triangle.md
  200_repetitions/206_number_triangle/test_number_triangle.py
  200_repetitions/207_sum_table/sum_table.md
  200_repetitions/207_sum_table/test_sum_table.py
  200_repetitions/208_geometric_sequence/geometric_sequence.md
  200_repetitions/208_geometric_sequence/test_geometric_sequence.py
  200_repetitions/209_multiplication_table/multiplication_table.md
  200_repetitions/209_multiplication_table/test_multiplication_table.py
Due: lint, format

new: repetition questions
  200_repetitions/201_right_triangle/right_triangle.py
  200_repetitions/202_temperature_table/temperature_table.py
  200_repetitions/203_arithmetic_sequence/arithmetic_sequence.py
  200_repetitions/204_pyramid/pyramid.py
  200_repetitions/205_fizz_buzz/fizz_buzz.py
  200_repetitions/206_number_triangle/number_triangle.py
  200_repetitions/207_sum_table/sum_table.py
  200_repetitions/208_geometric_sequence/geometric_sequence.py
  200_repetitions/209_multiplication_table/multiplication_table.py
  200_repetitions/210_average/average.py
  200_repetitions/211_admission_price/admission_price.py
  200_repetitions/212_digit_sum/digit_sum.py
  200_repetitions/213_number_of_digits/number_of_digits.py
  200_repetitions/214_vanilla_min_max/vanilla_min_max.py
  200_repetitions/215_number_pyramid/number_pyramid.py
  200_repetitions/216_palindrome/palindrome.py
  200_repetitions/217_collatz/collatz.py
  200_repetitions/218_max_streak/max_streak.py
  200_repetitions/219_parity_bits/parity_bits.py
  200_repetitions/220_no_pennies/no_pennies.py
  200_repetitions/221_gcd/gcd.py
  200_repetitions/222_binary_to_decimal/binary_to_decimal.py
  200_repetitions/223_decimal_to_binary/decimal_to_binary.py
  200_repetitions/224_multiword_palindrome/multiword_palindrome.py
  200_repetitions/225_guess_number/guess_number.py
  200_repetitions/226_caesar_cipher/caesar_cipher.py
  200_repetitions/227_maximum_integer/maximum_integer.py
  200_repetitions/228_polygon_perimeter/polygon_perimeter.py
  200_repetitions/229_password_strength/password_strength.py
  200_repetitions/230_coin_flip/coin_flip.py
  200_repetitions/231_square_root/square_root.py
  200_repetitions/232_approximate_pi/approximate_pi.py
  200_repetitions/233_prime_factors/prime_factors.py
Due: lint, format

ci:
  .github/workflows/grading.yml
Due: none

new: repetitions doc
  200_repetitions/200_repetition_docs/repetitions.md
Due: none

new: repetition slide
  slides/200_repetitions/.gitkeep
  slides/200_repetitions/repetitions.typ
Due: none

ref:
  100_conditionals/106_student_year_level/student_year_level.md
Due: none

ref:
  000_intro/036_ideal_gas/ideal_gas.md
  000_intro/036_ideal_gas/test_ideal_gas.py
  200_repetitions/207_sum_table/sum_table.md
  200_repetitions/207_sum_table/test_sum_table.py
  todo.md
Due: lint, format

ref:
  200_repetitions/207_sum_table/sum_table.py
Due: lint, format

ref:
  200_repetitions/209_multiplication_table/multiplication_table.py
Due: lint, format

ref:
  200_repetitions/207_sum_table/sum_table.py
  200_repetitions/209_multiplication_table/multiplication_table.py
Due: lint, format

ref:
  200_repetitions/207_sum_table/sum_table.md
  200_repetitions/207_sum_table/test_sum_table.py
  200_repetitions/209_multiplication_table/multiplication_table.md
  200_repetitions/209_multiplication_table/test_multiplication_table.py
Due: lint, format

fix: continue pytest on collection errors
  pyproject.toml
Due: uv-sort

ci:
  .github/workflows/grading.yml
  tests/grading.py
Due: lint, format

ci:
  .github/workflows/sync-solutions.yml
Due: none

ref:
  000_intro/036_ideal_gas/ideal_gas.py
Due: lint, format

Path conditions:
  uv-sort: any of: pyproject.toml
  lint: any of: *.py
  format: any of: *.py
