Repository mAbduqayum/python-workbook: changes, and which lefthook commands are due for each by the changed paths.
All: uv-sort, lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    uv-sort:
      glob: "pyproject.toml"
      run: uvx uv-sort
      stage_fixed: true
    lint:
      glob: "*.py"
      run: ruff check --fix {staged_files}
      stage_fixed: true
    format:
      glob: "*.py"
      run: ruff format {staged_files}
      stage_fixed: true
  exclude_tags:
    - merge
    - rebase

pre-push:
  piped: true # stop if one fails
  commands:
    lint:
      run: ruff check .
    #test:
    #  run: uv run pytest tests/
    #security-check:
    #  run: ruff check . --select S
    #  skip:
    #    - merge
    #    - rebase
    #git-leaks:
    #  run: gitleaks git

commit-msg:
  commands:
    conventional-commits:
      run: |
        CONVENTIONAL_COMMIT_PATTERN="^(new|fix|docs|style|ref|perf|test|chore|build|ci|revert)(\(.+\))?:"
        commit_message=$(cat {1})
        if ! echo "$commit_message" | grep -qE "$CONVENTIONAL_COMMIT_PATTERN"; then
          echo "Commit message must follow conventional commits format:"
          echo "type(scope): description"
          echo "Types: new, fix, docs, style, ref, perf, test, chore, build, ci, revert"
          exit 1
        fi

ref:
  appendix/vcs/vcs.md
  appendix/vcs/vcs_git_github.md
Due: none

new: unit tests
  000_intro/001_hello_world/test_hello_world.py
  000_intro/003_hello_name/test_hello_name.py
  000_intro/conftest.py
  pyproject.toml
Due: uv-sort, lint, format

ref:
  000_intro/conftest.py
Due: lint, format

ref:
  000_intro/003_hello_name/test_hello_name.py
Due: lint, format

ref:
  000_intro/004_name_age/test_name_age.py
Due: lint, format

ref:
  000_intro/003_hello_name/test_hello_name.py
  000_intro/004_name_age/test_name_age.py
Due: lint, format

new: unit tests
  000_intro/005_basic_calculator/test_basic_calculator.py
  000_intro/006_advanced_calculator/test_advanced_calculator.py
  000_intro/007_average/test_average.py
  000_intro/008_sum_integers/test_sum_integers.py
  000_intro/009_square_area/test_square_area.py
  000_intro/010_triangle_area/test_triangle_area.py
  000_intro/011_sum_digits/test_sum_digits.py
  000_intro/012_rectangle_perimeter/test_rectangle_perimeter.py
  000_intro/013_rectangle_area/test_rectangle_area.py
  000_intro/014_circle_area/test_circle_area.py
  000_intro/015_bank_annual/test_bank_annual.py
  000_intro/016_bank_monthly/test_bank_monthly.py
  000_intro/017_triangle_heron/test_triangle_heron.py
  000_intro/018_temperature/test_temperature.py
  000_intro/019_celsius_convert/test_celsius_convert.py
  000_intro/020_distance_conversion/test_distance_conversion.py
  000_intro/021_shopping/test_shopping.py
  000_intro/022_tip_calculator/test_tip_calculator.py
  000_intro/023_bmi/test_bmi.py
  000_intro/024_time_seconds/test_time_seconds.py
  000_intro/025_time_hours/test_time_hours.py
  000_intro/026_time_units/test_time_units.py
  000_intro/027_time_reverse/test_time_reverse.py
  000_intro/030_sort_integers/test_sort_integers.py
  000_intro/031_pressure_units/test_pressure_units.py
  000_intro/032_regular_polygon/test_regular_polygon.py
  000_intro/033_free_fall/test_free_fall.py
  000_intro/034_sphere_volume/test_sphere_volume.py
  000_intro/035_heat_capacity/test_heat_capacity.py
  000_intro/036_ideal_gas/test_ideal_gas.py
  000_intro/037_distance_earth/test_distance_earth.py
  000_intro/conftest.py
Due: lint, format

new: vscode settings
  .vscode/extensions.json
  .vscode/settings.json
Due: none

ref:
  000_intro/grading.py
Due: lint, format

ref:
  pyproject.toml
Due: uv-sort

ref:
  .vscode/settings.json
Due: none

ref:
  000_intro/000_intro_docs/math_operators.md
  000_intro/000_intro_docs/vars_and_types.md
Due: none

ref:
  000_intro/000_intro_docs/vars_and_types.md
Due: none

ref:
  000_intro/000_intro_docs/first_project.md
  000_intro/000_intro_docs/table_of_contents.md
  README.md
Due: none

ci: prevent workflow from running on forks
  .github/workflows/sync-solutions.yml
Due: none

new: conditionals table of contents
  100_conditionals/100_conditionals_docs/table_of_contents.md
Due: none

fix: some tests
  000_intro/003_hello_name/test_hello_name.py
  000_intro/004_name_age/test_name_age.py
Due: lint, format

fix: solutions can only use basics and conditionals to solve conditional questions
  100_conditionals/108_month_days/month_days.py
  100_conditionals/131_note_frequency/note_frequency.py
  100_conditionals/133_chess_square_color/chess_square_color.py
  100_conditionals/136_january_weekday/january_weekday.py
Due: lint, format

fix: solution
  100_conditionals/112_life_phases/life_phases.py
Due: lint, format

new: unit tests
  100_conditionals/101_can_vote/test_can_vote.py
  100_conditionals/102_even_odd/test_even_odd.py
  100_conditionals/103_number_sign/test_number_sign.py
  100_conditionals/104_vowel_consonant/test_vowel_consonant.py
  100_conditionals/105_two_equal/test_two_equal.py
  100_conditionals/106_month_from_int/test_month_from_int.py
  100_conditionals/107_name_shape/test_name_shape.py
  100_conditionals/108_month_days/test_month_days.py
  100_conditionals/109_letter_grade_points/test_letter_grade_points.py
  100_conditionals/110_http_errors/test_http_errors.py
  100_conditionals/111_faces_money/test_faces_money.py
  100_conditionals/112_life_phases/test_life_phases.py
  100_conditionals/113_fizz_buzz/test_fizz_buzz.py
  100_conditionals/114_richter_scale/test_richter_scale.py
  100_conditionals/115_visible_light/test_visible_light.py
  100_conditionals/116_h2o_phases/test_h2o_phases.py
  100_conditionals/117_triangle_classify/test_triangle_classify.py
  100_conditionals/118_palindrome_3digit/test_palindrome_3digit.py
  100_conditionals/119_between_values/test_between_values.py
  100_conditionals/120_frequency_name/test_frequency_name.py
  100_conditionals/121_bmi_categories/test_bmi_categories.py
  100_conditionals/122_sorted_order/test_sorted_order.py
  100_conditionals/123_valid_triangle/test_valid_triangle.py
  100_conditionals/124_sound_levels/test_sound_levels.py
  100_conditionals/125_leap_year/test_leap_year.py
  100_conditionals/126_frequency_note/test_frequency_note.py
  100_conditionals/127_tajikistan_holidays/test_tajikistan_holidays.py
  100_conditionals/128_angle_quadrants/test_angle_quadrants.py
  100_conditionals/129_angle_type/test_angle_type.py
  100_conditionals/130_palindrome_4digit/test_palindrome_4digit.py
  100_conditionals/131_note_frequency/test_note_frequency.py
  100_conditionals/132_chemical_phase_transition/test_chemical_phase_transition.py
  100_conditionals/133_chess_square_color/test_chess_square_color.py
  100_conditionals/134_quadratic_roots/test_quadratic_roots.py
  100_conditionals/135_triangle_angle_type/test_triangle_angle_type.py
  100_conditionals/136_january_weekday/test_january_weekday.py
  100_conditionals/137_season_date/test_season_date.py
  100_conditionals/138_next_day/test_next_day.py
  100_conditionals/conftest.py
Due: lint, format

ref: unit test configs
  000_intro/conftest.py
  conftest.py
  tests/__init__.py
  tests/grading.py
Due: lint, format

new: parallel unit testing config
  pyproject.toml
Due: uv-sort

ref:
  README.md
Due: none

fix: grading logic
  tests/grading.py
Due: lint, format

ref:
  tests/grading.py
Due: lint, format

new: grading actions
  .github/workflows/grading.yml
Due: none

new: solution
  100_conditionals/106_student_year_level/student_year_level.py
Due: lint, format

new: test
  100_conditionals/106_student_year_level/test_student_year_level.py
Due: lint, format

ref: grading.yml
  .github/workflows/grading.yml
Due: none

ref:
  100_conditionals/138_next_day/next_day.py
Due: lint, format

ref:
  100_conditionals/127_tajikistan_holidays/tajikistan_holidays.py
  100_conditionals/131_note_frequency/note_frequency.py
  100_conditionals/134_quadratic_roots/quadratic_roots.py
  100_conditionals/135_triangle_angle_type/triangle_angle_type.py
Due: lint, format

ref:
  100_conditionals/114_richter_scale/richter_scale.md
  100_conditionals/114_richter_scale/test_richter_scale.py
  100_conditionals/127_tajikistan_holidays/test_tajikistan_holidays.py
Due: lint, format

ref:
  .github/workflows/grading.yml
  .github/workflows/sync-solutions.yml
Due: none
