Repository mAbduqayum/python-workbook: changes, and which lefthook commands are due for each by the changed paths.
All: uv-sort, lint, format

uv-sort:
  run: uvx uv-sort
  stage_fixed: true

lint:
  run: ruff check --fix {staged_files}
  stage_fixed: true

format:
  run: ruff format {staged_files}
  stage_fixed: true

docs: fix keywords vs builtins in variable name rules
  intro/_docs/vars_and_types.md
Due: none

docs: add modulo to operator precedence
  intro/_docs/math_operators.md
Due: none

docs: warn about round() half-to-even behavior
  intro/_docs/math_functions.md
Due: none

docs: fix float output in quadratic roots example
  intro/_docs/string_formatting.md
Due: none

docs: move exercise workflow into guide
  README.md
  intro/_docs/table_of_contents.md
  intro/_docs/working_through_an_exercise.md
Due: none

ref: function questions
  lists/_docs/table_of_contents.md
  lists/get_page/get_page.md
  lists/get_page/get_page.py
  lists/get_page/test_get_page.py
  lists/next_rounds/next_rounds.md
  lists/next_rounds/next_rounds.py
  lists/next_rounds/test_next_rounds.py
  lists/slice/slice.md
  lists/slice/slice.py
  lists/slice/test_slice.py
Due: lint, format

ref: function questions
  ignore/simplification-guide.md
  lists/get_page/get_page.md
  lists/list_items/list_items.md
  lists/next_rounds/next_rounds.md
  lists/sublists/sublists.md
Due: none

ref: function problems
  functions/get_hypotenuse/get_hypotenuse.md
  functions/rectangle_area/rectangle_area.md
  functions/triangle_area/triangle_area.md
Due: none

ref: set problems
  sets/_docs/set_operations.md
  sets/list_intersection/list_intersection.md
  sets/list_intersection/list_intersection.py
  sets/list_intersection/test_list_intersection.py
  sets/list_union/list_union.md
  sets/list_union/list_union.py
  sets/list_union/test_list_union.py
  sets/subset_checker/subset_checker.md
  sets/subset_checker/subset_checker.py
  sets/subset_checker/test_subset_checker.py
  sets/symmetric_difference/symmetric_difference.md
  sets/symmetric_difference/symmetric_difference.py
  sets/symmetric_difference/test_symmetric_difference.py
  sets/uniques/test_uniques.py
  sets/uniques/uniques.md
  sets/uniques/uniques.py
Due: lint, format

ref: dict problems
  dicts/_docs/dict_basics.md
  dicts/_docs/dict_best_practices.md
  dicts/_docs/dict_operations.md
  dicts/chars_count/chars_count.md
  dicts/first_unique_char/first_unique_char.md
  dicts/first_unique_char/test_first_unique_char.py
  dicts/group_anagrams/group_anagrams.md
  dicts/group_anagrams/test_group_anagrams.py
  dicts/is_anagram/is_anagram.md
  dicts/is_anagram/test_is_anagram.py
  dicts/is_phrase_anagram/is_phrase_anagram.md
  dicts/is_phrase_anagram/test_is_phrase_anagram.py
  dicts/isomorphic_strings/isomorphic_strings.md
  dicts/isomorphic_strings/test_isomorphic_strings.py
  dicts/longest_substring_without_repeating/longest_substring_without_repeating.md
  dicts/longest_substring_without_repeating/test_longest_substring_without_repeating.py
  dicts/morse_decode/morse_decode.md
  dicts/morse_decode/morse_decode.py
  dicts/morse_decode/test_morse_decode.py
  dicts/morse_encode/morse_encode.md
  dicts/morse_encode/test_morse_encode.py
  dicts/most_frequent_char/most_frequent_char.md
  dicts/most_frequent_char/most_frequent_char.py
  dicts/most_frequent_char/test_most_frequent_char.py
  dicts/read_aloud/read_aloud.md
  dicts/read_aloud/read_aloud.py
  dicts/read_aloud/test_read_aloud.py
  dicts/roman_to_int/roman_to_int.md
  dicts/roman_to_int/test_roman_to_int.py
  dicts/text_messaging/test_text_messaging.py
  dicts/text_messaging/text_messaging.md
  dicts/text_messaging/text_messaging.py
  dicts/two_sum/test_two_sum.py
  dicts/two_sum/two_sum.md
Due: lint, format

ref: remove hints from dicts chapter
  dicts/chars_count/chars_count.md
  dicts/first_unique_char/first_unique_char.md
  dicts/group_anagrams/group_anagrams.md
  dicts/is_anagram/is_anagram.md
  dicts/is_phrase_anagram/is_phrase_anagram.md
  dicts/isomorphic_strings/isomorphic_strings.md
  dicts/longest_substring_without_repeating/longest_substring_without_repeating.md
  dicts/morse_decode/morse_decode.md
  dicts/morse_encode/morse_encode.md
  dicts/most_frequent_char/most_frequent_char.md
  dicts/read_aloud/read_aloud.md
  dicts/roman_to_int/roman_to_int.md
  dicts/text_messaging/text_messaging.md
  dicts/two_sum/two_sum.md
Due: none

ref:
  intro/sort_integers/sort_integers_hint.md
Due: none

ref: set
  lists/_docs/join_iterable.md
  lists/is_sublist/is_sublist.md
  lists/is_sublist/is_sublist.py
  sets/_docs/set_best_practices.md
  sets/find_missing_numbers/find_missing_numbers.md
  sets/first_recurring_char/first_recurring_char.md
  sets/list_intersection/list_intersection.md
  sets/list_union/list_union.md
  sets/longest_consecutive/longest_consecutive.md
  sets/longest_consecutive/longest_consecutive_hint.md
  sets/pangram_checker/pangram_checker.md
  sets/remove_duplicate_letters/remove_duplicate_letters.md
  sets/subset_checker/subset_checker.md
  sets/symmetric_difference/symmetric_difference.md
  sets/uniques/uniques.md
Due: lint, format

ref:
  ignore/simplification-guide.md
Due: none

ref: sets
  sets/_docs/table_of_contents.md
  sets/first_recurring_char/first_recurring_char.md
  sets/first_recurring_char/first_recurring_char.py
  sets/first_recurring_char/test_first_recurring_char.py
  sets/isogram/isogram.md
  sets/isogram/isogram.py
  sets/isogram/test_isogram.py
  todo.md
Due: lint, format

ref: dicts
  dicts/group_anagrams/group_anagrams_hint.md
  dicts/longest_substring_without_repeating/longest_substring_without_repeating_hint.md
  dicts/two_sum/test_two_sum.py
  dicts/two_sum/two_sum.md
  dicts/two_sum/two_sum.py
  dicts/two_sum/two_sum_hint.md
Due: lint, format

ref: lists
  lists/average/average.md
  lists/binary_search/binary_search.md
  lists/binary_search/binary_search_hint.md
  lists/deal_hands/deal_hands.py
  lists/deck_operations/deck_operations.py
  lists/evaluate_postfix/evaluate_postfix.md
  lists/evaluate_postfix/evaluate_postfix.py
  lists/filter_function/filter_function.py
  lists/get_page/get_page.md
  lists/get_page/test_get_page.py
  lists/get_words/get_words.md
  lists/infix_to_postfix/infix_to_postfix.md
  lists/infix_to_postfix/infix_to_postfix.py
  lists/infix_to_postfix/infix_to_postfix_hint.md
  lists/is_perfect/is_perfect.md
  lists/is_sublist/is_sublist.py
  lists/list_total/list_total.md
  lists/mark_unary/mark_unary.md
  lists/mark_unary/mark_unary.py
  lists/merge_sort/merge_sort.md
  lists/precedence/precedence.py
  lists/remove_outliers/remove_outliers.md
  lists/sieve_of_eratosthenes/sieve_of_eratosthenes.md
  lists/sieve_of_eratosthenes/sieve_of_eratosthenes.py
  lists/sieve_of_eratosthenes/sieve_of_eratosthenes_hint.md
  lists/sort_numbers/sort_numbers.md
  lists/str_to_ints/str_to_ints.md
  lists/sublists/sublists.md
  lists/to3x3matrix/to3x3matrix.md
  lists/to3x3matrix/to3x3matrix.py
  lists/to_matrix/to_matrix.md
  lists/to_matrix/to_matrix.py
  lists/tokenize_expression/tokenize_expression.md
  lists/two_list_operations/two_list_operations.md
  lists/two_list_operations/two_list_operations.py
Due: lint, format

ref: files
  files/append_line/append_line.md
  files/count_lines/count_lines.md
  files/count_words/count_words.md
  files/element_lookup/element_lookup.md
  files/find_missing_comments/find_missing_comments.md
  files/head/head.md
  files/letter_frequency/letter_frequency.md
  files/read_file_content/read_file_content.md
  files/redact_text/redact_text.md
  files/samples/calculator.py
  files/search_lines/search_lines.md
  files/six_vowel_words/six_vowel_words.md
  files/spell_checker/spell_checker.md
  files/tail/tail.md
  files/word_frequency/word_frequency.md
  files/write_lines/write_lines.md
Due: lint, format

ref: recursions
  recursions/binary_search/binary_search.md
  recursions/binary_search/binary_search.py
  recursions/binary_search/test_binary_search.py
  recursions/coin_sum/coin_sum.md
  recursions/coin_sum/coin_sum_hint.md
  recursions/count_digits/count_digits.md
  recursions/count_digits/count_digits.py
  recursions/edit_distance/edit_distance.md
  recursions/edit_distance/edit_distance_hint.md
  recursions/element_sequences/element_sequences.md
  recursions/element_sequences/test_element_sequences.py
  recursions/element_spelling/element_spelling.md
  recursions/factorial/factorial.md
  recursions/fibonacci/fibonacci.md
  recursions/flatten_list/flatten_list.md
  recursions/flatten_list/flatten_list.py
  recursions/flatten_list/test_flatten_list.py
  recursions/gcd/gcd.md
  recursions/nested_sum/nested_sum.md
  recursions/nested_sum/nested_sum.py
  recursions/nested_sum/test_nested_sum.py
  recursions/power/power.md
  recursions/run_length_decoding/run_length_decoding.md
  recursions/run_length_encoding/run_length_encoding.md
  recursions/sum_digits/sum_digits.md
  recursions/sum_to_n/sum_to_n.md
Due: lint, format

ref: merge sets beginner exercises into set_operations
  sets/_docs/table_of_contents.md
  sets/list_intersection/list_intersection.md
  sets/list_intersection/list_intersection.py
  sets/list_intersection/test_list_intersection.py
  sets/list_union/list_union.md
  sets/list_union/list_union.py
  sets/list_union/test_list_union.py
  sets/set_operations/set_operations.md
  sets/set_operations/set_operations.py
  sets/set_operations/test_set_operations.py
  sets/subset_checker/subset_checker.md
  sets/subset_checker/subset_checker.py
  sets/subset_checker/test_subset_checker.py
  sets/symmetric_difference/symmetric_difference.md
  sets/symmetric_difference/symmetric_difference.py
  sets/symmetric_difference/test_symmetric_difference.py
  sets/uniques/test_uniques.py
  sets/uniques/uniques.md
  sets/uniques/uniques.py
Due: lint, format

ref: prefix table_of_contents.md with underscore
  README.md
  conditionals/_docs/_table_of_contents.md
  dicts/_docs/_table_of_contents.md
  errors/_docs/_table_of_contents.md
  files/_docs/_table_of_contents.md
  functions/_docs/_table_of_contents.md
  intro/_docs/_table_of_contents.md
  lists/_docs/_table_of_contents.md
  recursions/_docs/_table_of_contents.md
  repetitions/_docs/_table_of_contents.md
  sets/_docs/_table_of_contents.md
Due: none

docs: credit the source books behind the exercises
  README.md
  REFERENCES.md
Due: none

ci: give students feedback on their own pushes
  .github/workflows/grading.yml
  .github/workflows/lint.yml
Due: none

ref:
  dicts/chars_count/test_chars_count.py
  dicts/first_unique_char/test_first_unique_char.py
  dicts/group_anagrams/test_group_anagrams.py
  dicts/is_anagram/test_is_anagram.py
  dicts/is_phrase_anagram/test_is_phrase_anagram.py
  dicts/isomorphic_strings/test_isomorphic_strings.py
  dicts/longest_substring_without_repeating/test_longest_substring_without_repeating.py
  dicts/morse_decode/test_morse_decode.py
  dicts/morse_encode/test_morse_encode.py
  dicts/most_frequent_char/test_most_frequent_char.py
  dicts/read_aloud/test_read_aloud.py
  dicts/roman_to_int/test_roman_to_int.py
  dicts/text_messaging/test_text_messaging.py
  dicts/two_sum/test_two_sum.py
  sets/find_missing_numbers/test_find_missing_numbers.py
  sets/isogram/test_isogram.py
  sets/longest_consecutive/test_longest_consecutive.py
  sets/pangram_checker/test_pangram_checker.py
  sets/remove_duplicate_letters/test_remove_duplicate_letters.py
  sets/set_operations/test_set_operations.py
Due: lint, format

fix: stop 13 dicts and sets exercises from erroring instead of grading
  dicts/first_unique_char/test_first_unique_char.py
  dicts/group_anagrams/test_group_anagrams.py
  dicts/is_anagram/test_is_anagram.py
  dicts/is_phrase_anagram/test_is_phrase_anagram.py
  dicts/isomorphic_strings/test_isomorphic_strings.py
  dicts/longest_substring_without_repeating/test_longest_substring_without_repeating.py
  dicts/morse_decode/test_morse_decode.py
  dicts/morse_encode/test_morse_encode.py
  dicts/read_aloud/test_read_aloud.py
  dicts/roman_to_int/test_roman_to_int.py
  dicts/text_messaging/test_text_messaging.py
  dicts/two_sum/test_two_sum.py
  sets/isogram/test_isogram.py
Due: lint, format

fix: grade each exercise against its own solution file
  conftest.py
Due: lint, format

ci: keep sample data on main instead of mistaking it for a solution
  .github/workflows/sync-main.yml
Due: none

fix: let students word their input prompts however they like
  conftest.py
  ignore/simplification-guide.md
  intro/_docs/first_project.md
  intro/_docs/vars_and_types.md
  tests/run_script.py
Due: lint, format

build: lint with one ruff version everywhere
  .github/workflows/lint.yml
  lefthook.yml
  pyproject.toml
Due: uv-sort

fix: stop the commit hooks from dropping formatting fixes
  lefthook.yml
Due: none

fix: report the real number of tests a student passed
  tests/grading.py
Due: lint, format

test: grade the one exercise a student could skip unnoticed
  intro/mailing_address/test_mailing_address.py
Due: lint, format

new: let one exercise reuse another instead of copying it
  lists/divisors/test_divisors.py
  lists/infix_to_postfix/infix_to_postfix.md
  lists/infix_to_postfix/infix_to_postfix.py
  lists/infix_to_postfix/test_infix_to_postfix.py
  pyproject.toml
Due: uv-sort, lint, format

docs: make the nested lists chapter reachable from the reading order
  lists/_docs/_table_of_contents.md
Due: none

chore:
  README.md
Due: none

ci:
  .github/workflows/lint.yml
  .github/workflows/sync-main.yml
Due: none

ref:
  ignore/curriculum-research.md
  ignore/todo.md
Due: none

chore:
  pyproject.toml
Due: uv-sort

Path conditions:
  uv-sort: any of: pyproject.toml
  lint: any of: *.py
  format: any of: *.py
